    $("body").height( $(window).height() );
    .mobile  {
		width:100%;
		overflow:hidden;
		background-size:cover;
		position: absolute;

	}
	.header{
		width:100%;
   		position: relative;
  		background:#00bb9c;
  		 font-family: 'Montserrat', sans-serif;
  		  line-height: 60px;
 		 -webkit-font-smoothing: antialiased;
	}
	.open{
	    width: 80%;
	    position: relative;
	    top: 20px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    height: 80%;
	}
	
	#uploader .statusBar {
   			 height: 63px;
   			 border-top: 1px solid #dadada;
    		padding: 0 20px;
    		line-height: 63px;
    		vertical-align: middle;
    		position: relative;
		}

		.wu-example {
   			 top: -21px;
   			 position: relative;
      		padding: 20px 15px 15px;
    		margin: 0px 0;
		}
		
		#uploader .queueList {
    		min-height: 70%;
    		margin-top: 7%;
    		border: 3px dashed #e6e6e6;
   			font-size: 18px;
    		position: relative;
   		}
   		
   		h4, .h4 {
   		 	font-size: 18px;
     		margin-top: 10px;
    		margin-bottom: 10px;
      		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-weight: 500;
    		line-height: 1.1;
    		color: inherit;
		}
		
		p {
			font-size: 16px;
    		margin: 0 0 10px;
      	 	display: block;
    		-webkit-margin-before: 1em;
    		-webkit-margin-after: 1em;
    		-webkit-margin-start: 0px;
    		-webkit-margin-end: 0px;
		}
	
	.btns{
			text-align: center;
			padding-top: 60%;
	}
	
	#filelist{
		    padding-left: 5%;
	}
	
	a{
	font-size: 1.5em;
    margin: 0.67em 0;
    position: relative;
    left: 43%;
    top: 20%;
    display: bolck;
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
		
	}

	.intro {
    position: absolute;
    left: 0;
    top: 67%;
/*     padding: 0 20px; */
    width: 100%;
    text-align: center;
}

.QrBorder{
	top: 25%;
    left: 16%;
    width: 70%;
    height: 40%;
    min-width: 250px;
    min-height: 280px;
    margin: auto;
    position: absolute;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.QrCodeImg{
    border: 0;
    margin: auto;
    position: relative;
    top: 7%;
    left: 6%;
}