<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbbbiu.biu">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="bbbbiu.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.bbbbiu.biu.db" />

        <receiver
            android:name=".service.DiskScanService$ScanAlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.HttpdService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.PollingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DiskScanService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.UploadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.choose.FileChooseActivity"
            android:label="@string/title_activity_choose_file"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.MusicChooseActivity"
            android:label="@string/title_activity_choose_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.ApkChooseActivity"
            android:label="@string/title_activity_choose_apk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.ImgChooseActivity"
            android:label="@string/title_activity_choose_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.VideoChooseActivity"
            android:label="@string/title_activity_choose_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.ArchiveChooseActivity"
            android:label="@string/title_activity_choose_archive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.DocumentChooseActivity"
            android:label="@string/title_activity_choose_document"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.apple.ConnectingActivity"
            android:label="@string/title_activity_connect_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.apple.ReceivingActivity"
            android:label="@string/title_activity_download"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.android.SendingActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.android.ReceivingActivity"
            android:label="@string/title_activity_receive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.computer.ConnectingActivity"
            android:label="@string/title_activity_connect_computer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.transfer.computer.QRCodeScanActivity"
            android:label="@string/title_activity_qrcode_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".gui.transfer.computer.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".gui.transfer.computer.DownloadActivity"
            android:label="@string/title_activity_download"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>