<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbbbiu.biu">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.QRCodeShareActivity" />

        <service
            android:name=".service.HttpdService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".gui.FileSendingActivity" />
        <activity
            android:name=".gui.choose.FileChooseActivity"
            android:label="fuck"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.ImageChooseActivity"
            android:label="@string/title_activity_choose_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.VideoChooseActivity"
            android:label="@string/title_activity_choose_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.MusicChooseActivity"
            android:label="@string/title_activity_choose_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.DocumentChooseActivity"
            android:label="@string/title_activity_choose_document"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.choose.ApkChooseActivity"
            android:label="@string/title_activity_choose_apk"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
